google-genai
jiwer
evaluate
rouge-score


prometheus-eval
vllm


google-generativeai
python-dotenv
torch # Often a dependency for evaluate or transformers
transformers # Often a dependency for evaluate
pandas
scikit-learn
groq
pyspellchecker
